.gradient0{
	color: #FD0000;
	text-shadow: 1px 1px #000;
}
.gradient1{
	color: #FF0000;
	text-shadow: 1px 1px #000;
}
.gradient2{
	color: #FF1C00;
	text-shadow: 1px 1px #000;
}
.gradient3{
	color: #FF3800;
	text-shadow: 1px 1px #000;
}
.gradient4{
	color: #FF5500;
}
.gradient5{
	color: #FF7100;
}
.gradient6{
	color: #FF8D00;
}
.gradient7{
	color: #FFAA00;
}
.gradient8{
	color: #FFC600;
}
.gradient9{
	color: #FFE200;
}
.gradient10{
	color: #FFFF00;
	text-shadow: 0 0 3px #000;
}
